@charset "UTF-8";

.toggleContextMapBtn.ui-state-default {
  background: white;
}

.toggleContextMapBtn.ui-button {
  width: 20px;
  height: 20px;
  margin-right: 0px;
  margin-left: 0px;
  border-radius: 4px !important;
  vertical-align: middle;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
  z-index: 999;
}

.toggleContextMapBtn.ui-custom-button {
  width: 32px !important;
  height: 32px !important;
}

.toggleContextMapBtn .ui-icon {
  margin-left: -8px;
}

.toggleContextMapBtn.ui-state-hover {
  border: 1px solid #d3d3d3;
}

.contextMapContainer {
  /* Border must be 0px */
  border-top: 0px solid #000000;
  border-left: 0px solid #000000;
  border-right: 0px solid #000000;
  border-bottom: 0px solid #000000;
  position: absolute;
  z-index: 12;
  border-radius: 4px;
}

.contextMap {
  border: 0px solid #000000;
  position: inherit;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  text-align: center;
  border-radius: 4px;
}

.contextMapResizer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  border: 0px solid #000000;
  background-repeat: no-repeat;
  background-image: url('../images/resize-sw.png');
  width: 20px;
  height: 20px;
  cursor: sw-resize;
  z-index: 999;
}

.contextMapResizer-touchFriendly {
  background-image: url(../images/touch/resize-sw.png) !important;
  width: 30px;
  height: 30px;
  background-size: contain !important;
  opacity: .55;
  background-repeat: no-repeat;
}