@charset "UTF-8";

body, html {
  margin: 0px auto;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background: transparent;
}

.ui-dialog {
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.createLabLogo {
  width: 170px;
  height: 28px;
  position: absolute;
  bottom: 39px;
  right: 64px;
  border: 0px;
  background-image: url("../images/createLabLogo.png");
  -ms-transform: scale(0.647);
  -webkit-transform: scale(0.647);
  transform: scale(0.647);
}

.timeMachineLogo {
  width: 194px;
  height: 28px;
  position: absolute;
  bottom: 39px;
  right: 64px;
  border: 0px;
  background-image: url("../images/timeMachineLogo.png");
  -ms-transform: scale(0.647);
  -webkit-transform: scale(0.647);
  transform: scale(0.647);
}

.ui-dialog {
  border: 1px solid #656565;
  border-radius: 2px;
  font-size: 13px;
}

.ui-dialog .ui-dialog-titlebar {
  border-radius: 2px;
}

.ui-widget-content {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.loadingOverlay {
  background-color: rgba(0, 0, 0, 0);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}

.tiledContentHolder {
  position: absolute;
  left: 1px;
  top: 1px;
  bottom: 1px;
  right: 1px;
  border: 1px solid #656565;
  width: auto;
  height: auto;
  background: black;
  overflow: hidden;
}

.tiledContentHolder-touchFriendly {
  border: 0px;
}

.ui-button .ui-icon.ui-icon-custom-stop {
  background-image: url(../images/buttons/custom_stop.png);
  margin-top: -8px;
  margin-left: -8px;
  width: 18px;
  height: 24px;
  opacity: 0.7;
}

.ui-button.ui-state-hover .ui-icon.ui-icon-custom-stop {
  opacity: 1;
}

.ui-button .ui-icon.ui-icon-custom-play {
  background-image: url(../images/buttons/custom_play.png);
  margin-top: -12px;
  margin-left: -7px;
  width: 18px;
  height: 24px;
  opacity: 0.7;
}

.customPlay-touchFriendly .ui-icon.ui-icon-custom-play {
  background-image: url(../images/touch/play.png);
  margin-top: -14px;
  margin-left: -11px;
  width: 28px;
  height: 28px;
  opacity: 0.55;
  background-size: contain !important;
}

.ui-button.ui-state-hover .ui-icon.ui-icon-custom-play {
  opacity: 1;
}

.ui-button .ui-icon.ui-icon-custom-pause {
  background-image: url(../images/buttons/custom_pause.png);
  margin-top: -12px;
  margin-left: -11px;
  width: 24px;
  height: 24px;
  opacity: 0.7;
}

.customPlay-touchFriendly .ui-icon.ui-icon-custom-pause {
  background-image: url(../images/touch/pause.png);
  margin-top: -15px;
  margin-left: -15px;
  width: 30px;
  height: 30px;
  opacity: 0.55;
  background-size: contain !important;
}

.ui-button.ui-state-hover .ui-icon.ui-icon-custom-pause {
  opacity: 1;
}

.tiledContentHolder:focus {
  outline: 0;
}

.fullScreen .ui-icon.ui-icon-custom-fullScreenOn {
  background-image: url(../images/fullScreenOn.png);
  width: 34px;
  height: 34px;
  opacity: 0.55;
  background-size: contain !important;
  margin-left: -17px;
  margin-top: -17px;
}

.fullScreen .ui-icon.ui-icon-custom-fullScreenOff {
  background-image: url(../images/fullScreenOff.png);
  width: 34px;
  height: 34px;
  opacity: 0.55;
  background-size: contain !important;
  margin-left: -17px;
  margin-top: -17px;
}

.fullScreen {
  position: absolute;
  height: 46px;
  bottom: 86px;
  width: 58px;
  right: 20px;
  background: white;
  border: 1px solid #656565;
  border-radius: 2px !important;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  z-index: 30;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}

.ui-button.ui-state-hover .ui-icon.ui-icon-custom-fullScreenOn, .ui-button.ui-state-hover .ui-icon.ui-icon-custom-fullScreenOff {
  opacity: 0.8;
}

.customButton {
  width: 60px;
  height: 20px;
  background: white;
  border: 1px solid #656565;
  border-radius: 2px !important;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  z-index: 30;
}

.customButton .ui-icon {
  margin-left: -2px;
}

.customButton .ui-button-text {
  margin-top: -1px;
}

.share {
  position: absolute;
  bottom: 54px;
  right: 20px;
}

.share .ui-button-text {
  margin-left: -1px;
}

.tool {
  position: absolute;
  bottom: 86px;
  right: 20px;
}

.tool .ui-button-text {
  margin-left: 1px;
}

.helpPlayerLabel.ui-button {
  position: absolute;
  height: 18px;
  bottom: 22px;
  width: 58px;
  right: 20px;
  background: white;
  border: 1px solid #656565;
  border-radius: 2px !important;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  z-index: 30;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}

.helpPlayerLabel .ui-icon {
  margin-left: -1px;
}

.helpPlayerLabel .ui-button-text {
  margin-top: -1px;
  margin-left: 3px;
}

.instructions {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  width: auto;
  height: auto;
  z-index: 999;
  display: none;
}

.instructions span {
  font-size: 12px;
  color: black;
  position: absolute;
  display: block;
  line-height: 18px;
}

.instructions p {
  font-size: 12px;
}

.instructions span.movehelp {
  top: 30px;
  left: 110px;
  width: 140px;
  color: white !important;
  padding: 68px 0px 0px 0px;
  background-repeat: no-repeat;
  background-position: center top;
  background-image: url(../images/drag_mouse_white.png);
}

.instructions span.zoomhelp {
  background-color: white;
  border: 1px solid #656565;
  top: 150px;
  left: 67px;
  overflow: visible;
  border-radius: 2px;
}

.instructions span.zoomallhelp {
  background-color: white;
  border: 1px solid #656565;
  top: 250px;
  left: 67px;
  overflow: visible;
  border-radius: 2px;
}

.instructions span.zoomhelp p, .instructions span.zoomallhelp p {
  margin: 0px -6px 0px -11px;
  padding: 12px 0px 12px 30px;
  background-repeat: no-repeat;
  background-position: center left;
  background-image: url(../images/bubble_edge_vertical_white.png);
  width: 190px;
}

.instructions span.speedhelp {
  background-color: white;
  border: 1px solid #656565;
  overflow: visible;
  bottom: 50px;
  left: 88px;
  border-radius: 2px;
}

.instructions span.speedhelp p {
  margin: 0px 0px -11px 0px;
  padding: 12px 15px 22px 15px;
  background-repeat: no-repeat;
  background-position: 20px 100%;
  background-image: url(../images/bubble_edge_horizontal_white.png);
  width: 172px;
}

.videoTime {
  margin: 0px;
  padding: 0px;
  position: absolute;
  left: 100px;
  bottom: 7px;
  font-size: 12px;
  color: #202020;
  font-family: Arial, Helvetica, sans-serif;
  display: none;
}

.captureTime {
  position: absolute;
  left: 90px;
  bottom: 43px;
  font-size: 18px;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000, 2px 2px 3px rgba(0, 0, 0, 0.3);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  font-weight: normal;
  z-index: 10;
}

.playbackButton.ui-button {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 17px;
  left: 20px;
  background: white;
  border: 1px solid #656565;
  border-radius: 35px !important;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  z-index: 10;
  outline: none;
}

.timelineSliderFiller {
  position: absolute;
  bottom: 25px;
  left: 160px;
  right: 100px;
  width: auto;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  border: 1px solid #656565;
  background: transparent;
}

.timelineSlider {
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.8);
  position: absolute;
  height: 7px;
  width: inherit;
  position: relative;
  top: 0px;
  left: 0px;
  margin: 0;
  padding: 0;
  z-index: 25;
}

.timelineSlider .ui-slider-handle {
  width: 12px;
  margin-left: -5px !important;
  height: 15px;
  overflow: hidden;
  top: -5px;
  border-style: none;
  border: none;
  margin: 0px;
  z-index: 5;
  border: 1px solid #656565;
  border-radius: 2px !important;
  cursor: pointer;
  background-image: none !important;
}

.timelineSlider .ui-slider-handle:focus {
  outline: none;
}

.timelineSlider .ui-slider-range {
  background: red;
  opacity: 0.4;
}

.timelineSlider.thumbnail-mode {
  background: transparent;
}

.timelineSlider.thumbnail-mode .ui-slider-range {
  background: transparent;
}

.timelineSlider.thumbnail-mode .ui-slider-handle {
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 17px solid rgb(0, 255, 0);
  margin-left: -13px !important;
  overflow: hidden;
  top: 9px;
  margin: 0px;
  z-index: 5;
  background: transparent;
  cursor: pointer;
}

.timelineSlider.thumbnail-mode .ui-slider-handle:active {
  border-bottom-color: white;
}

.timelineSlider.thumbnail-mode .ui-slider-handle:hover {
  border-bottom-color: white;
}

.timelineSelectorFiller {
  position: absolute;
  bottom: 25px;
  left: 160px;
  right: 100px;
  width: auto;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  border: 1px solid #656565;
  background: transparent;
  display: none;
}

.timelineSelector {
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.8);
  position: absolute;
  height: 7px;
  width: inherit;
  position: relative;
  top: 0px;
  left: 0px;
  margin: 0;
  padding: 0;
  z-index: 24;
}

.timelineSelector .ui-slider-handle:first-of-type {
  width: 0;
  height: 0;
  border-top: 10px solid rgb(0, 255, 0);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 0px solid transparent;
  margin-left: -8px !important;
  overflow: hidden;
  top: -11px;
  margin: 0px;
  z-index: 5;
  background: transparent;
  cursor: pointer;
  display: none;
}

.timelineSelector .ui-slider-handle:first-of-type:active {
  border-top-color: white;
}

.timelineSelector .ui-slider-handle:first-of-type:hover {
  border-top-color: white;
}

.timelineSelector .ui-slider-handle:nth-of-type(2) {
  width: 0;
  height: 0;
  border-top: 0px solid transparent;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid rgb(0, 255, 0);
  margin-left: -8px !important;
  overflow: hidden;
  top: 9px;
  margin: 0px;
  z-index: 5;
  background: transparent;
  cursor: pointer;
  display: none;
}

.timelineSelector .ui-slider-handle:nth-of-type(2):active {
  border-bottom-color: white;
}

.timelineSelector .ui-slider-handle:nth-of-type(2):hover {
  border-bottom-color: white;
}

.timelineSelector .ui-slider-handle:focus {
  outline: none;
}

.timelineSelector .ui-slider-range {
  background: rgb(0, 255, 0);
  opacity: 1;
}

.whiteHandle {
  border-bottom-color: white !important;
  border-top-color: white !important;
}

.zoomall {
  margin-top: 5px !important;
}

.zoomSlider {
  width: 4px;
  height: 130px;
  background: #ffffff;
  border: 1px solid #656565;
  margin: 0 auto;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.zoomSlider .ui-slider-handle {
  width: 20px;
  height: 8px;
  overflow: hidden;
  left: -9px;
  z-index: 15;
  border: 1px solid #656565;
  border-radius: 2px !important;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  background-color: white;
  cursor: pointer;
}

.pan {
  display: block;
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  background: white;
  border: 1px solid #656565;
  border-radius: 25px !important;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.pan .ui-button {
  position: absolute;
  width: 20px;
  height: 20px;
  background: transparent;
  border: 0px solid #656565;
  border-radius: 0px;
}

.sideToolBar {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 15;
}

.zoom .ui-button {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  background: white;
  border: 1px solid #656565;
  border-radius: 2px !important;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

.zoom-touchFriendly .ui-button {
  width: 50px;
  height: 50px;
  margin: 0px 0px 18px 0px;
  border-radius: 35px !important;
}

.zoom .ui-icon {
  margin-top: -9px;
}

.controls {
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: auto;
  height: 60px;
  overflow: visible;
}

.customDialog {
  height: auto !important;
}

.customDialog a {
  color: #a40e0e;
}

.customDialog .ui-spinner-up {
  right: -22px;
  margin-top: -1px;
}

.customDialog .ui-spinner-down {
  right: -43px;
  margin-bottom: -1px;
}

.customDialog .ui-spinner a.ui-spinner-button {
  width: 20px;
  height: 100%;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  border-radius: 1px;
  background-image: none;
  cursor: pointer;
}

.customDialog .ui-spinner a.ui-spinner-up .ui-icon {
  margin-left: 2px;
}

.customDialog .ui-spinner a.ui-spinner-down .ui-icon {
  margin-left: 3px;
}

.customDialog .ui-spinner {
  overflow: visible;
  border-radius: 1px;
  width: 205px;
  height: 20px;
}

.customDialog .ui-spinner-input {
  width: 194px;
}

.customDialog .endingTime {
  font-family: Verdana,Arial,sans-serif;
  font-size: 1em;
}

.customDialog .customDialogButton.get-current-gif {
  width: 335px;
  height: 30px;
  margin-top: 0px;
}

.customDialog .customDialogButton.get-current-gif .ui-button-text {
  margin-top: 2px;
}

.customDialog .reset-large, .customDialog .reset-small {
  width: 74px;
}

.customDialog .reset-medium {
  width: 85px;
}

.customDialog .customSlider {
  height: 5px;
  width: 247px;
  cursor: pointer;
}

.customDialog .customSlider .ui-slider-handle {
  width: 10px;
  border-color: #999;
  background-image: none;
  margin-top: -2px;
  cursor: pointer;
}

.customDialog .customSlider .ui-slider-handle:focus {
  outline: none;
}

.customDialog .customDialogButton {
  margin-right: 5px;
  height: 20px;
  border-radius: 1px;
  background-image: none;
}

.customDialog .customDialogButton .ui-button-text {
  padding-left: 9px;
  padding-right: 9px;
  margin-top: -3px;
}

.customDialog .customHighlightDialogButton {
  color: white;
  background-color: #71AF71;
  border-color: #529952;
}

.customDialog .customHighlightDialogButton:hover {
  background-color: #529952;
}

.customDialog .shareurl {
  margin-left: 0px;
  margin-right: 4px;
  margin-bottom: 4px;
  width: 280px;
  height: 18px;
  resize: none;
}

.customDialog .shareurl-copy-text-button {
  margin-right: 0px;
  margin-bottom: 3px;
}

.customDialog .accordion {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
  margin-top: 12px;
}

.customDialog .accordion .ui-accordion-header {
  border: 0px;
  border-radius: 2px;
  background-image: none;
}

.customDialog .accordion .ui-accordion-header-active {
  font-weight: bold;
}

.customDialog .accordion .ui-accordion-content {
  border: 0px;
  border-radius: 2px;
}

.customDialog .accordion .ui-accordion-header:focus {
  outline: none;
}

.customDialog .ui-dialog-titlebar-close {
  border: 0px;
  border-radius: 2px;
  background-image: none;
}

.customDialog .ui-dialog-titlebar-close:focus {
  outline: none;
}

.spinnerOverlay {
  background-image: url(../images/loading.gif);
  width: 32px;
  height: 32px;
  top: 50%;
  left: 50%;
  margin-left: -16px;
  margin-top: -16px;
  position: absolute;
  display: none;
  z-index: 10;
}

.share-thumbnail-tool {
  width: 350px;
}

.share-thumbnail-tool td {
  height: 25px;
  white-space: nowrap;
}

#browser_not_supported {
  display: block;
  height: 348px;
  left: 34px;
  position: fixed;
  top: 100px;
  width: 514px;
}

#html5_overridden_message {
  height: 348px;
  left: 34px;
  position: fixed;
  top: 65px;
  width: 514px;
  z-index: 1000;
}

.warning, .error {
  border: 1px solid;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 15px 10px 15px 60px;
  background-repeat: no-repeat;
  background-position: 10px center;
}

.warning {
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url('../images/alert.png');
}

.error {
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('../images/error.png');
}

.ui-dialog-titlebar {
  background: #959595;
  border: 0;
  color: white;
}

.toggleSpeed.ui-button {
  position: absolute;
  width: 55px;
  height: 17px;
  top: 20px;
  left: 89px;
  background: white;
  border: 1px solid #656565;
  border-radius: 2px !important;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  z-index: 10;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  color: #656565;
  display: none;
  outline: none;
}

.toggleSpeed .ui-button-text {
  text-align: center;
  padding: 0px;
}

/* Touch support */
.ui-button .ui-icon.ui-icon-custom-plus {
  background: url(../images/touch/plus.png) !important;
  left: 23px;
  top: 24px;
  width: 18px;
  height: 18px;
  background-size: contain !important;
  opacity: .55;
}

.ui-button .ui-icon.ui-icon-custom-minus {
  background-image: url(../images/touch/minus.png) !important;
  left: 23px;
  top: 25px;
  width: 18px;
  height: 18px;
  background-size: contain !important;
  opacity: .55;
  background-repeat: no-repeat;
}

.ui-button .ui-icon.ui-icon-custom-home {
  background-image: url(../images/touch/home.png) !important;
  left: 23px;
  top: 25px;
  width: 18px;
  height: 18px;
  background-size: contain !important;
  opacity: .55;
  background-repeat: no-repeat;
}

.ui-button .ui-icon.ui-icon-custom-help {
  background-image: url(../images/touch/help.png) !important;
  left: 15px;
  top: 17px;
  width: 25px;
  height: 25px;
  background-size: contain !important;
  opacity: .55;
  background-repeat: no-repeat;
}

.ui-button .ui-icon.ui-icon-custom-help {
  background-image: url(../images/touch/help.png) !important;
  left: 17px;
  top: 19px;
  width: 21px;
  height: 21px;
  background-size: contain !important;
  opacity: .55;
  background-repeat: no-repeat;
}

.ui-button .ui-icon-custom-arrowthick-1-ne {
  background-image: url(../images/touch/ne-arrow.png) !important;
  left: 12px;
  top: 12px;
  width: 22px;
  height: 22px;
  background-size: contain !important;
  opacity: .55;
  background-repeat: no-repeat;
}

.ui-button .ui-icon-custom-arrowthick-1-sw {
  background-image: url(../images/touch/sw-arrow.png) !important;
  left: 12px;
  top: 12px;
  width: 22px;
  height: 22px;
  background-size: contain !important;
  opacity: .55;
  background-repeat: no-repeat;
}

.dataPanesContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  display: inline-block;
  /*pointer-events: auto;*/
  z-index: 1;
}

.thumbnail-preview-copy-text-container {
  margin-top: 30px;
  margin-bottom: 0px;
  width: 350px;
}

.thumbnail-preview-copy-text-button {
  margin-right: 0px;
  margin-bottom: 3px;
}

.thumbnail-preview-copy-text {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 3px;
  width: 272px;
  height: 16px;
  resize: none;
}

.thumbnail-preview-container {
  position: relative;
  max-width: 335px;
  max-height: 200px;
  border: 1px solid #656565;
  overflow-x: hidden;
  overflow-y: hidden;
  background: url('../images/loading.gif') #fff center no-repeat;
}

.thumbnail-preview-copy-text-button-tooltip {
  z-index: 1100;
  position: absolute;
  line-height: 18px;
  background-color: #262626;
  border: 1px solid #262626;
  opacity: 0.7;
  border-radius: 2px;
  overflow: visible;
  -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  display: none;
}

.thumbnail-preview-copy-text-button-tooltip p {
  margin-top: 0px;
  margin-bottom: -11px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 9px;
  padding-bottom: 19px;
  padding-left: 14px;
  padding-right: 14px;
  background-repeat: no-repeat;
  background-position: 50% 100%;
  background-image: url(../images/bubble_edge_horizontal.png);
  font: 12px "Helvetica Neue", Sans-Serif;
  color: white;
}

.thumbnail-preview-copy-text-button-tooltip .width-long {
  width: 96px;
}

.thumbnail-preview-copy-text-button-tooltip .width-short {
  width: 40px;
}

.embed-capture-time {
  margin-left: 0px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.customDropdownButton {
  width: 70px;
  height: 20px;
  border-radius: 1px !important;
  z-index: 30;
  outline: none;
  background-color: white !important;
  background-image: none !important;
}

.customDropdownButton .ui-button-text {
  text-align: left;
  padding-left: 9px;
  padding-right: 9px;
  margin-top: -3px;
  margin-left: -2px;
}

.customDropdownButton .ui-icon {
  margin-right: -4px;
}

.customDropdownMenu {
  display: none;
  width: 70px;
  position: absolute;
  z-index: 115;
}

.customDropdownMenu .ui-menu-item {
  background-image: none !important;
}

.always-selectable {
  -webkit-user-select: auto;
  -khtml-user-select: auto;
  -moz-user-select: element;
  -ms-user-select: element;
  -o-user-select: auto;
  user-select: element;
}