@charset "UTF-8";

body, html {
  margin: 0px auto;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background: transparent;
}

.createLabLogo {
  width: 170px;
  height: 28px;
  position: absolute;
  bottom: 37px;
  right: 64px;
  border: 0px;
  background-image: url("../images/createLabLogo.png");
  -ms-transform: scale(0.647); /* IE 9 */
  -webkit-transform: scale(0.647); /* Chrome, Safari, Opera */
  transform: scale(0.647);
  display: none;
}

#player1_timelapse_canvas {
  background: black;
  z-index: 5;
}

.ui-dialog {
  border: 1px solid #656565;
  border-radius: 2px;
  font-size: 13px;
}

.ui-dialog .ui-dialog-titlebar {
  border-radius: 2px;
}

.ui-widget-content {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.ui-dialog .ui-button {
  border-radius: 2px;
}

.snaplapsePlayingMask {
  position: absolute;
  opacity: 0.01;
  width: 100%;
  height: 100%;
  z-index: 19;
  top: 0px;
  background: white;
}

.editorModeToolbar .newTimewarp {
  border-right: 1px solid #656565 !important;
}

.toolbar .editorTitle {
  position: absolute;
  left: 20px;
  top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: black;
  opacity: 0.8;
  font-weight: bold;
}

.toolbar .toggleMode {
  position: absolute;
  width: 138px;
  height: 20px;
  bottom: 10px;
  left: 20px;
  background: white;
  border: 1px solid #656565;
  border-radius: 2px !important;
  z-index: 30;
  outline: none;
}

.toolbar .toggleMode .ui-button-text {
  text-align: center;
  padding: 0;
  font-size: 11px;
  margin-top: 0px;
  margin-left: -13px;
}

.toolbar .toggleMode .ui-icon {
  margin-right: -4px;
}

.editorModeOptions {
  border-radius: 2px;
  font-size: 11px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}

.editorModeOptions .ui-corner-all {
  border-radius: 2px;
}

.editorModeOptions.ui-menu {
  position: absolute;
  width: 116px;
  padding: 10px;
  border: 1px solid #656565;
  z-index: 35;
}

.editorModeOptions.ui-state-focus {
  padding: 10px;
}

.loadingOverlay {
  background-color: rgba(0, 0, 0, 0);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}

.tiledContentHolder {
  position: relative;
  width: 816px;
  height: 288px;
  background: black;
  overflow: hidden;
  border-right: 1px solid #656565;
  border-left: 1px solid #656565;
  border-top: 1px solid #656565;
  border-bottom: 1px solid #656565;
}

.ui-button .ui-icon.ui-icon-custom-stop {
  background-image: url(../images/buttons/custom_stop.png);
  margin-top: -8px;
  margin-left: -8px;
  width: 18px;
  height: 24px;
  opacity: 0.7;
}

.ui-button.ui-state-hover .ui-icon.ui-icon-custom-stop {
  opacity: 1;
}

.ui-button .ui-icon.ui-icon-custom-play {
  background-image: url(../images/buttons/custom_play.png);
  margin-top: -12px;
  margin-left: -7px;
  width: 18px;
  height: 24px;
  opacity: 0.7;
}

.ui-button.ui-state-hover .ui-icon.ui-icon-custom-play {
  opacity: 1;
}

.ui-button .ui-icon.ui-icon-custom-pause {
  background-image: url(../images/buttons/custom_pause.png);
  margin-top: -12px;
  margin-left: -11px;
  width: 24px;
  height: 24px;
  opacity: 0.7;
}

.ui-button.ui-state-hover .ui-icon.ui-icon-custom-pause {
  opacity: 1;
}

.tiledContentHolder:focus {
  outline: 0;
}

.playbackSpeed {
  position: absolute;
  width: 152px;
  height: 17px;
  bottom: 24px;
  left: 89px;
  background: white;
  border: 1px solid #656565;
  border-radius: 2px !important;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
  z-index: 30;
  outline: none;
}

.playbackSpeed .ui-button-text {
  text-align: center;
  padding: 0;
  font-size: 10px;
  margin-top: -1px;
  margin-left: -13px;
}

.playbackSpeed .ui-icon {
  margin-right: -4px;
}

.viewerModeBtn {
  position: absolute;
  width: 58px;
  height: 18px;
  bottom: 86px;
  right: 20px;
  background: white;
  border: 1px solid #656565;
  border-radius: 3px !important;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
  z-index: 30;
  outline: none;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}

.viewerModeBtn .ui-icon {
	margin-left: -2px;
}

.viewerModeBtn .ui-button-text {
  margin-top: -1px;
  margin-left: 0px;
}

.viewerModeBtn.ui-state-active {
  border: 1px solid #ffffff;
  background: rgba(0,0,0,0.6);
  color: white;
}

.viewerModeBtn.ui-state-active .ui-icon {
  background-image: url(../images/ui-icons_custom_256x240.png)/*{iconsActive}*/;
}

.share {
  position: absolute;
  width: 60px;
  height: 20px;
  bottom: 54px;
  right: 20px;
  background: white;
  border: 1px solid #656565;
  border-radius: 3px !important;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
  z-index: 30;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}

.share .ui-icon {
  margin-left: -2px;
}

.share .ui-button-text {
  margin-left: -1px;
  margin-top: -2px;
}

.helpPlayerLabel.ui-button {
  position: absolute;
  height: 18px;
  bottom: 22px;
  width: 58px;
  right: 20px;
  background: white;
  border: 1px solid #656565;
  border-radius: 3px !important;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
  z-index: 30;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}

.helpPlayerLabel .ui-icon {
	margin-left: -1px;
}

.helpPlayerLabel .ui-button-text {
  margin-top: -2px;
  margin-left: 3px;
}

.instructions {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0px;
  left: 0px;
  margin: auto;
  z-index: 999;
  display: none;
}

.instructions span {
  font-size: 12px;
  color: #fff;
  position: absolute;
  display: block;
  line-height: 18px;
}

.instructions p {
  font-size: 12px;
}

.instructions span.movehelp {
  top: 30px;
  left: 110px;
  width: 140px;
  padding: 68px 0px 0px 0px;
  background-repeat: no-repeat;
  background-position: center top;
  background-image: url(../images/drag_mouse.png);
}

.instructions span.zoomhelp {
  background-color: #262626;
  border: 1px solid #444;
  top: 150px;
  left: 70px;
  overflow: visible;
}

.instructions span.zoomallhelp {
  background-color: #262626;
  border: 1px solid #444;
  top: 250px;
  left: 70px;
  overflow: visible;
}

.instructions span.zoomhelp p, .instructions span.zoomallhelp p {
  margin: 0px 0px 0px -11px;
  padding: 12px 16px 12px 28px;
  background-repeat: no-repeat;
  background-position: center left;
  background-image: url(../images/bubble_edge_vertical.png);
  width: 190px;
}

.instructions span.speedhelp {
  width: 250px;
  background-color: #262626;
  border: 1px solid #444;
  height: 19px;
  overflow: visible;
  bottom: 47px;
  left: 20px;
  padding: 13px 15px 15px;
}

.instructions span.speedhelp p {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: bottom left;
  background-image: url(../images/bubble_edge_horizontal.png);
  height: 46px;
}

.videoTime {
  margin: 0px;
  padding: 0px;
  position: absolute;
  left: 100px;
  bottom: 7px;
  font-size: 12px;
  color: #202020;
  font-family: Arial, Helvetica, sans-serif;
  display: none;
}

.captureTime {
  position: absolute;
  left: 90px;
  bottom: 43px;
  font-size: 14px;
  text-shadow: -1px 0 #656565, 0 1px #656565, 1px 0 #656565, 0 -1px #656565, 2px 2px 3px rgba(0,0,0,0.3);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
  font-weight: normal;
}

.playbackButton.ui-button {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 17px;
  left: 20px;
  background: white;
  border: 1px solid #656565;
  border-radius: 35px !important;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
  z-index: 10;
  outline: none;
}

.timelineSliderFiller {
  position: absolute;
  bottom: 26px;
  left: 258px;
  right: 100px;
  width: auto;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
  border: 1px solid #656565;
  background: transparent;
}

.timelineSlider {
  background: rgba(255,255,255,0.3);
  cursor: pointer;
  border: 2px solid rgba(255,255,255,0.8);
  position: absolute;
  height: 7px;
  width: inherit;
  position: relative;
  top: 0px;
  left: 0px;
  margin: 0;
  padding: 0;
  z-index: 25;
}

.timelineSlider .ui-slider-handle {
  width: 12px;
  margin-left: -5px !important;
  height: 15px;
  overflow: hidden;
  top: -5px;
  border-style: none;
  border: none;
  margin: 0px;
  z-index: 5;
  border: 1px solid #656565;
  border-radius: 2px !important;
}

.timelineSlider .ui-slider-range {
  background: red;
  opacity: 0.4;
}

.stopTimeWarp.ui-button {
  margin: 0px;
  padding: 0px;
  display: block;
  width: 55px;
  height: 100%;
  border: 0px solid #656565;
  border-right: 1px solid #656565;
  background: white;
  border-radius: 0px;
}

.zoomall {
  margin-top: 5px !important;
}

.zoomSlider {
  width: 4px;
  height: 130px;
  background: #ffffff;
  border: 1px solid #656565;
  margin: 0 auto;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
  cursor: pointer;
}

.zoomSlider .ui-slider-handle {
  width: 20px;
  height: 8px;
  overflow: hidden;
  left: -9px;
  z-index: 15;
  border: 1px solid #656565;
  border-radius: 2px !important;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
  background-color: white;
}

.pan {
  display: block;
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  background: white;
  border: 1px solid #656565;
  border-radius: 25px !important;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}

.pan .ui-button {
  position: absolute;
  width: 20px;
  height: 20px;
  background: transparent;
  border: 0px solid #656565;
  border-radius: 0px;
}

.sideToolBar {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 15;
}

.zoom .ui-button {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  background: white;
  border: 1px solid #656565;
  border-radius: 2px !important;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}

.zoom .ui-icon {
  margin-top: -9px;
}

.fullscreenLabel.ui-state-default {
  background: white;
}

.fullscreenLabel {
  height: 100%;
  border-radius: 0;
  padding: 0;
}

.addAnnotationLabel .ui-button-text {
  margin-top: 11px;
}

.moveAnnotationLabel .ui-button-text {
  margin-top: 11px;
}

.playbackSpeedOptions {
  border-radius: 2px;
  font-size: 11px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}

.playbackSpeedOptions .ui-corner-all {
  border-radius: 2px;
}

.playbackSpeedOptions.ui-menu {
  position: absolute;
  width: 130px;
  padding: 10px;
  border: 1px solid #656565;
  z-index: 27;
}

.playbackSpeedOptions.ui-state-focus {
  padding: 10px;
}

.sizeOptions {
  border-radius: 2px;
}

.sizeOptions .ui-corner-all {
  border-radius: 2px;
}

.sizeOptions.ui-menu {
  position: absolute;
  width: 75px;
  padding: 10px;
  border: 1px solid #656565;
}

.sizeOptions.ui-state-focus {
  padding: 10px;
}

.controls {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 60px;
  overflow: visible;
}

.tools .ui-button {
  display: block;
  width: 18px;
  height: 18px;
  margin: 0 auto;
  margin-top: 5px;
  background: white;
  border: 1px solid #656565;
  border-radius: 2px !important;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
}

.tools .ui-icon {
  margin-top: -9px;
}

.tools .ui-state-active {
  border: 1px solid #ffffff/*{borderColorActive}*/;
  background: #959595/*{bgColorActive}*/;
  color: white;
}

.tools .ui-state-active .ui-icon {
  background-image: url(../images/ui-icons_custom_256x240.png)/*{iconsActive}*/;
}

.toolbar {
  display: none;
  width: inherit;
  height: 40px;
  background-color: rgb(220,220,220);
  position: relative;
  border-right: 1px solid #656565;
  border-left: 1px solid #656565;
  border-top: 0px solid #838383;
  border-bottom: 1px solid #656565;
  font-size: 12px;
  margin: 0;
  padding: 0;
  z-index: 20;
}

.editorModeToolbar .ui-state-active {
  background: #656565 !important;
  color: white;
}

.editorModeToolbar .ui-state-active .ui-icon {
  background-image: url(../images/ui-icons_custom_256x240.png)/*{iconsActive}*/;
}

.editorModeToolbar .ui-button {
  min-width: 35px;
  margin-right: -1px;
  margin-left: 0px;
  border-radius: 0px !important;
  vertical-align: middle;
  border-top: 0px solid white;
  border-bottom: 0px solid white;
  height: 100%;
  border-left: 1px solid rgb(220,220,220);
  border-right: 1px solid rgb(220,220,220);
}

.editorModeToolbar .ui-button:hover:not(
[disabled]) {
  /*
   -moz-box-shadow: 0 0 12px #656565;
   -webkit-box-shadow: 0 0 12px #656565;
   box-shadow: 0 0 12px #656565;*/
  border-right: 1px solid #656565;
  border-left: 1px solid #656565;
  z-index: 999;
}

.toolbar .ui-button:focus {
  outline: none;
}

.editorModeToolbar .ui-state-default {
  background: white;
}

.annotatorModeToolbar .ui-state-default {
  background: white;
}

.editorModeToolbar {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 0;
  float: right;
  display: none;
  height: 100%;
}

.annotatorModeToolbar {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 0;
  float: right;
  display: none;
  height: 100%;
}

.fullScreenBtnContainer {
  float: right;
  display: inline;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 0;
  height: 100%;
}

.carousel {
  margin: 0 0 20px 10px;
  /*position: relative;*/
}

.layerSlider {
  margin-left: 560px;
}

.carousel a.prev, .carousel a.next {
  display: block;
  float: left;
  width: 30px;
  height: 40px;
  text-decoration: none;
  background: url("../images/prev.jpg") left 15px no-repeat;
}

.carousel a.next {
  height: 50px;
  position: absolute;
  margin: -78px 0px 0px 218px;
  background: url("../images/next.jpg") right 23px no-repeat;
}

.carousel a.next:hover {
  background-image: url("../images/next.jpg");
}

.carousel a.prev:hover {
  background-image: url("../images/prev.jpg");
}

.carousel a:hover, .carousel a:active {
  border: none;
  outline: none;
}

.carousel ul {
  margin: 0;
}

.carousel li img, .carousel li p {
  background-color: #fff;
  margin: 5px;
  width: 45px;
}

.jCarouselLite img {
  cursor: pointer;
}

.shareurl {
  width: 600px;
  height: 32px;
  resize: none;
}

.spinnerOverlay {
  background-image: url(../images/loading.gif);
  width: 32px;
  height: 32px;
  position: absolute;
  display: none;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
}