@charset "UTF-8";

.scaleBarContainer {
  border: 0px solid #000000;
  background-color: rgba(0,0,0,0);
  position: absolute;
  width: 100px;
  height: 50px;
  color: #ffffff;
  z-index: 10;
}

.scaleBarTop_txt {
  position: absolute;
  left: 22px;
  top: 8px;
  font-size: 9pt;
  text-shadow: -1px 0 #656565, 0 1px #656565, 1px 0 #656565, 0 -1px #656565;
}

.scaleBarBot_txt {
  position: absolute;
  left: 22px;
  top: 27px;
  font-size: 9pt;
  text-shadow: -1px 0 #656565, 0 1px #656565, 1px 0 #656565, 0 -1px #656565;
}

.scaleBar_canvas {
  position: absolute;
  left: 0px;
  top: 0px;
}

.ratioBarTop {
  position: absolute;
  width: 100%;
  height: 0px;
  background-color: #000000;
  opacity: 1;
  top: 0px;
  left: 0px;
  z-index: 8;
  display: none;
}

.ratioBarBot {
  position: absolute;
  width: 100%;
  height: 0px;
  background-color: #000000;
  opacity: 1;
  bottom: 0px;
  left: 0px;
  z-index: 8;
  display: none;
}

.ratioBarLeft {
  position: absolute;
  width: 0px;
  height: 100%;
  background-color: #000000;
  opacity: 1;
  top: 0px;
  left: 0px;
  z-index: 8;
  display: none;
}

.ratioBarRight {
  position: absolute;
  width: 0px;
  height: 100%;
  background-color: #000000;
  opacity: 1;
  top: 0px;
  right: 0px;
  z-index: 8;
  display: none;
}

.videoQualityContainer {
  position: absolute;
  width: 325px;
  height: 23px;
  z-index: 10;
  border: 0px solid #000000;
  background-color: rgba(0,0,0,0);
  top: 9px;
  left: 8px;
}

.videoQualitySelector {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin-top: 2px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 14px;
  color: black;
  width: 110px;
}

.videoQualitySelectorForm {
  position: absolute;
  left: 45px;
  top: 0px;
}

.metersPerPixel_text {
  position: absolute;
  left: 178px;
  top: 3px;
  font-size: 12px;
  width: 55px;
  height: 12px;
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: middle;
}

.metersPerPixel_text_static {
	vertical-align: middle;
  position: absolute;
  font-size: 12px;
  top: 4px;
  left: 245px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.videoQuality_text_static {
	vertical-align: middle;
  position: absolute;
  font-size: 12px;
  top: 4px;
  left: 13px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}