.snaplapse_composer_controls {
   display: none;
}

button {
   cursor: pointer;
}

span.ui-icon {
   float: left;
   margin: 0 2px;
}

.button-container div {
   margin: 2px 0 2px 0;
   padding: 1px 0 2px 0;
   cursor: pointer;
   float: left;
}

.snaplapse_keyframe_list_item_table {
   padding: 0 3px 0 5px;
}

.keyframe-button-container div {
   margin: 0;
   padding: 1px 0 0 0;
}

.keyframe-button-container {
   margin-left: 0;
}

/* ------------------------------------------------------------------------------------------------------------------ */

.snaplapse_keyframe_container {
   min-height: 75px;
   max-height: 550px;
   display: block;
   padding: 0;
   margin: 0;
   overflow-x: auto;
   overflow-y: scroll;
   border: solid 1px black;
   background-color: #eeeeee;
}

.snaplapse_keyframe_list .ui-selecting {
   background: #eeeeff;
}

.snaplapse_keyframe_list .ui-selected {
   background: #ddddff;
   color: black;
}

.snaplapse_keyframe_list_item {
   display: block;
   padding: 5px;
   margin: 0;
   cursor: pointer;
   border: solid 1px black;
   background-color: white;
}

.snaplapse_keyframe_list_item_timestamp {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 8pt;
}

.snaplapse_keyframe_list_item_thumbnail {
   width: 100px;
   height: 56px;
   border: solid 1px black;
   background-color: black;
}

.snaplapse_keyframe_list_item_description_label {
   text-align: left;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 8pt;
}

.snaplapse_keyframe_list_item_description {
   min-width: 200px;
   min-height: 56px;
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 8pt;
}

.snaplapse_keyframe_list_item_duration_label {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 8pt;
}

.snaplapse_keyframe_list_item_duration {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 8pt;
   width: 50px;
   margin-bottom:5px;
}

.snaplapse_keyframe_list_item_cell_padding {
   width: 5px;
   height: 5px;
}

.snaplapse_keyframe_list_item_play_button {

}

.validation-fault {
   background-color: #ffeeee;
   color: #990000;
}

.textarea_disabled {
   background-color: #cccccc;
   color: #666666;
}
