body, p, table, tr, td, img{
 -moz-user-select: -moz-none;
 -khtml-user-select: none;
 -webkit-user-select: none;
 -o-user-select: none;
 user-select: none;
}

#timelineSlider {
 margin: 10px;
 width: 627px;
}

#slider-vertical {
 height: 100px;
}

#playBackSpeedSlider {
 margin: 5px;
 width: 180px;
}

#timelapse {
 cursor: url("../css/cursors/openhand.png"),move
}

#mouse_debug_info {
 border: 1px solid black;
 padding: 3px;
 margin: 3px 0 3px 0;
 width: 500px;
}

.play_mouseover {
 width: 20px;
 height: 23px;
 background-image: url("../images/play_mouseover.png");
 cursor: pointer;
 float: left;
}

.play_mouseout {
 width: 20px;
 height: 23px;
 background-image: url("../images/play_mouseout.png");
 cursor: pointer;
 float: left;
}

.pause_mouseover {
 width: 20px;
 height: 23px;
 background-image: url("../images/pause_mouseover.png");
 cursor: pointer;
 float: left;
}

.pause_mouseout {
 width: 20px;
 height: 23px;
 background-image: url("../images/pause_mouseout.png");
 cursor: pointer;
 float: left;
}

.overlay1 {
  border:0px solid; 
  width:60px;
  border-color:silver;
  height:212px; 
  overflow:auto;
  position:absolute; 
  z-index:2;
  top: 30px;
  left: 10px;
}

.overlay2 {
  border:0px solid; 
  width:60px; 
  border-color:silver;
  height:45px; 
  overflow:auto;
  position:absolute; 
  z-index:3;
  top: 30px;
  left: 10px;
}

#spinnerOverlay {
  border:0 solid;
  width:120px;
  height:120px;
  position:absolute;
  z-index:3;
  display:none;
  overflow:hidden;
}

table.align-left tr, td, th{ 
   text-align: left;
}

table.align-right tr, td, th{ 
   text-align: right;
}

table.align-center tr, td, th{ 
   text-align: center;
}

tr.valign-top {
   vertical-align: top;
}

table.no-padding td {
   padding: 0px
}
