body, table, tr, td, img{
 -moz-user-select: -moz-none;
 -khtml-user-select: none;
 -webkit-user-select: none;
 -o-user-select: none;
 user-select: none;
}

#timelineSlider {
        cursor:pointer;
	display:block;
	width:508px;
	height:8px;
	border:0px #838383 solid;
	border-bottom:0px !important;
	position:absolute;
	bottom:0px;
	margin: 0px 0px 0px 0px;
	background:#FFF;
        z-index:5;
}

#filler {
   height:8px;
   width:516px;
   z-index:5;
   background:#FFF;
   position:absolute;
   bottom:58px;
}

#slider-vertical {
	width:8px;
	height:110px;
	background:#969DA1;
	border:1px solid #555555;
	position:absolute;
	top:27px;
	left:9px;
}

#slider-vertical .ui-slider-handle {
        left:-11px;
}

#playBackSpeedSlider {
	display:block;
	position:relative;
	left:77px;
	bottom:40px;
	width:126px;
	height:30px;
}

#timelapse {
 cursor: url("cursors/openhand.png"),move
}

#mouse_debug_info {
 border: 1px solid black;
 padding: 3px;
 margin: 3px 0 3px 0;
 width: 500px;
}

.play_mouseover {
 width: 20px;
 height: 23px;
 background-image: url("../images/play_mouseover.png");
 cursor: pointer;
 float: left;
}

.play_mouseout {
 width: 20px;
 height: 23px;
 background-image: url("../images/play_mouseout.png");
 cursor: pointer;
 float: left;
}

.pause_mouseover {
 width: 20px;
 height: 23px;
 background-image: url("../images/pause_mouseover.png");
 cursor: pointer;
 float: left;
}

.pause_mouseout {
 width: 20px;
 height: 23px;
 background-image: url("../images/pause_mouseout.png");
 cursor: pointer;
 float: left;
}

.overlay1 {
  border:0px solid; 
  width:52px;
  border-color:silver;
  height:212px; 
  overflow:auto;
  position:absolute; 
  z-index:2;
  top: 30px;
  left: 10px;
}

.overlay2 {
  border:0px solid; 
  width:52px; 
  border-color:silver;
  height:40px; 
  overflow:auto;
  position:absolute; 
  z-index:3;
  top: 30px;
  left: 10px;
}

#spinnerOverlay {
  border:0 solid;
  width:120px;
  height:120px;
  position:absolute;
  z-index:3;
  display:none;
  overflow:hidden;
}

table.align-left tr, td, th{ 
   text-align: left;
}

table.align-right tr, td, th{ 
   text-align: right;
}

table.align-center tr, td, th{ 
   text-align: center;
}

tr.valign-top {
   vertical-align: top;
}

table.no-padding td {
   padding: 0px
}

h1#firstHeading{
   top:450px;
}

a.time_warp_link {
  width:auto !important;
  padding:16px 19px 16px 0px !important;
  /*display:table-cell;*/
  text-decoration:underline !important; 
  background:url('../images/snaplink.png') right center no-repeat !important; 
}

a.time_warp_link:hover{
  text-decoration:none !important;
}

#bodyContent{
    margin:0px 30px 0px 548px !important;
    padding:10px 34px 50px ;
    background:#fff;
    min-height:400px;
    max-width:100%;
    min-width:200px;
    position:relative;
    top:100px;
    left:0px;
    overflow-x:hidden;
}

p{ font-size:15px;               
line-height:23px;             
max-width: 630px;          
margin:10px 0px 20px 0px;}
h2 .editsection { font-size: 67%; }
h3, h4, h5, h6 {          
        border-bottom: none;     
        font-weight: bold;
} 

