@charset "UTF-8";

h1#firstHeading {
  top: 450px;
}

a.time_warp_link {
  width: auto !important;
  padding: 0px 16px 0px 0px !important;
  text-decoration: underline !important;
  background: url('../images/snaplink.png') right center no-repeat !important;
}

a.time_warp_link:hover {
  text-decoration: none !important;
}

#bodyContent {
  margin: 10px 30px 0px 548px !important;
  padding: 10px 34px 50px;
  background: #fff;
  min-height: 400px;
  max-width: 100%;
  min-width: 200px;
  position: relative;
  top: 100px;
  bottom: 100px;
  left: 0px;
}