<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<div id="browser_not_supported">
  <div class="warning">Sorry, but it looks like your browser or device is not currently supported by our viewer.
    <br><br>At this time, we support recent desktop (running Windows 7+, MacOS 10.6+ or Linux) and mobile (running Android 5.1+ or iOS 10+) versions of
    <a href="http://www.google.com/chrome">Chrome</a>,
    <a href="http://www.apple.com/safari/">Safari</a>,
    <a href="http://www.firefox.com">Firefox</a> and
    <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">Internet Explorer / Microsoft Edge</a>.
  </div>
</div>
