<div id="browser_not_supported" style="display: none;">
  <div class="warning">Sorry, but it looks like your browser is not currently supported by our viewer.
    <br><br>At this time, we support the desktop versions of
    <a href="http://www.google.com/chrome">Chrome</a>,
    <a href="http://www.apple.com/safari/">Safari</a>,
    <a href="http://www.firefox.com">Firefox</a> and
    <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">Internet Explorer 9+<a>.
  </div>
</div>
