<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

<div class="player">

  <div class="spinnerOverlay"></div>

  <div class="etMobileTopNav">
    <div class="etMobileSearchBoxContainer">
      <input class="etMobileSearchBox" placeholder="Search for a location...">
      <span class="etMobileSearchBoxIcon"></span>
      <span class="etMobileSearchBoxClear"></span>
    </div>
    <div class="etMobileTimelineContainer">
      <div class="etMobileTimeline"></div>
    </div>
  </div>

  <div title="Play" class="etMobilePlaybackButton play"></div>


  <div id="{REPLACE}" class="tiledContentHolder"></div>

  <div class="etMobileWaypointDrawerContainer">
    <div class="etMobileWaypointDrawerContainerHeader">
      <div class="etMobileWaypointDrawerContainerDragIndicator"></div>
      <div class="etDrawerContainerTitle"></div>
    </div>
    <div class="etDrawerProductAboutHeading">
      <span class="etDrawerLearnMoreExit"></span>
      About the project
    </div>
    <div class="etDrawerProductAboutDescription">
      <div class="etDrawerProductAboutDescriptionContent"></div>
      <span class="etDrawerProductAboutDescriptionMoreButton"></span>
    </div>
    <div class="etDrawerProductLearnMoreContainer">
      <div class="etDrawerProductLearnMoreContent"></div>
    </div>
    <div class="etDrawerProductHighlightsHeading"></div>
  </div>

</div>
