<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

<div class="etMobileOrientationChangeOverlay">
  <div class="etMobileOrientationChangeOverlayText">Please turn your device</div>
</div>

<div class="player">
  <div class="spinnerOverlay"></div>

  <div class="etMobileTopNav">
    <div class="etMobileSearchBoxContainer">
      <input class="etMobileSearchBox searchBox" placeholder="Search for a location">
      <span class="etMobileSearchBoxBack"></span>
      <span class="etMobileSearchBoxIcon"></span>
      <span class="etMobileSearchBoxClear"></span>
    </div>
    <div class="materialTimelineContainer">
      <div class="materialTimeline"></div>
      <div class="materialTimelineDisabled">Timelapse is not available in this view</div>
    </div>
  </div>

  <div class="materialNowViewingContainer">
    <div class="materialNowViewingContent">
      <span class="close" title="Close"></span>
      <div class="materialNowViewingHeader">NOW VIEWING</div>
      <div class="materialNowViewingText"></div>
    </div>
  </div>

  <div class="etMobileSearchOverlay"></div>

  <div title="Play" class="playbackButton"></div>

  <div title="Share" class="share"></div>

  <div title="Toggle layers" class="etMobileLayersButton"></div>

  <div id="{REPLACE}" class="tiledContentHolder"></div>

  <div class="shareViewModal">
    <div id="share-link-container-main">
      <p class="heading">Share Current View</p>
      <div class="share-link-container">
        <div class="shareurl always-selectable"></div>
        <span class="copy-text-button shareurl-copy-text-button"></span>
      </div>
    </div>
    <div id="embed-link-container-main">
      <br>
      <p class="heading">Embed Current View</p>
      <div class="embed-link-container">
        <div class="shareembed always-selectable"></div>
        <span class="copy-text-button shareembed-copy-text-button"></span>
      </div>
    </div>
    <span class="close-share"></span>
  </div>

  <span class="thumbnail-preview-copy-text-button-tooltip">
    <p></p>
  </span>

  <div class="waypointDrawerContainer">
    <div class="waypointDrawerContainerHeader">
      <div class="etMobileWaypointDrawerContainerDragIndicator"></div>
      <div class="etDrawerContainerTitle"></div>
    </div>
    <div class="etDrawerContent">
      <div class="etDrawerAbout">
        <div class="etDrawerProductAboutHeading">
          <span class="etDrawerLearnMoreExit"></span>
          <span class="etDrawerLearnMoreExpand"></span>
          About the project
        </div>
        <div class="etDrawerProductAboutDescription">
          <div class="etDrawerProductAboutDescriptionContent"></div>
        </div>
        <div class="etDrawerProductLearnMoreContainer">
          <div class="etDrawerProductLearnMoreContent"></div>
        </div>
      </div>
      <div class="etDrawerSectionSeparator"></div>
      <div class="etDrawerProductHighlights">
        <div class="etDrawerProductHighlightsHeading"></div>
        <ul id="etDrawerProductHighlightsContent"></ul>
      </div>
    </div>
  </div>
</div>
