<div class="player">
  <div class="sideToolBar">
    <div class="pan" title="Click to pan"></div>
    <div class="zoom"></div>
  </div>

  <div class="instructions">
    <span class="zoomhelp">
      <p>
        Zoom in and out to explore in greater detail. Click or use the mouse scroll wheel.
      </p></span>
    <span class="zoomallhelp">
      <p>
        Click to view the whole scene.
      </p></span>
    <span class="speedhelp">
      <p>
        Click to toggle playback speed.
      </p></span>
    <span class="movehelp">
      <p>
        Click and drag to explore.
      </p></span>
  </div>

  <div class="spinnerOverlay"></div>

  <div id="{REPLACE}" class="tiledContentHolder"></div>

  <div class="captureTime" title="Capture time">
    <div class="currentCaptureTime"></div>
  </div>

  <div class="currentCaptureTimeRangeContainer" title="Capture time range">
    <div class="currentCaptureTimeRange"></div>
  </div>

  <div class="controls">
    <div class="timelineSliderFiller">
      <div id="Tslider1" class="timelineSlider"></div>
    </div>
    <div class="timelineSelectorFiller">
      <div id="Tselector1" class="timelineSelector"></div>
    </div>
    <div title="Play" class="playbackButton"></div>
    <div class="videoTime" title="Video time">
      <span class="currentTime">00:00.00</span>/<span class="totalTime">00:00.00</span>
    </div>
    <a href="http://timemachine.cmucreatelab.org" target="_blank"><div class="logo timeMachineLogo"></div></a>
    <input type="checkbox" class="helpPlayerCheckbox"/>
    <label class="helpPlayerLabel" title="Show instructions">Help</label>
    <button class="toggleSpeed" id="fastSpeed" title="Toggle playback speed">
      Fast
    </button>
    <button class="toggleSpeed" id="mediumSpeed" title="Toggle playback speed">
      Medium
    </button>
    <button class="toggleSpeed" id="slowSpeed" title="Toggle playback speed">
      Slow
    </button>
    <button class="share customButton" title="Share current view">
      Share
    </button>
    <button class="tool customButton" title="Tools">
      Tools
    </button>
  </div>

  <div class="toolDialog" title="Tools">
    <div class="accordion">
      <h3>Enable tour and slideshow editor</h3>
      <div class="accordion-editor">
        The tour and slideshow editor enables telling and sharing interesting stories by creating custom guided tours and interactive slideshows, travelling through space and time. For more information, refer to the <a href="http://wiki.gigapan.org/creating-time-machines/embedding-time-machine" target="_blank">tutorial</a>.
      </div>
      <h3>Enable annotator</h3>
      <div class="accordion-annotator">
        The annotator enables creating customized annotations on the viewer.
      </div>
      <h3>Enable change detection tool</h3>
      <div class="accordion-change-detection">
        Center the box to a <a href="javascript:void(0)" class="reset-large-change-detect">large</a>,&nbsp;<a href="javascript:void(0)" class="reset-medium-change-detect">medium</a>, or&nbsp;<a href="javascript:void(0)" class="reset-small-change-detect">small</a> size
      </div>
    </div>
  </div>

  <span class="thumbnail-preview-copy-text-button-tooltip">
    <p></p>
  </span>

  <div class="shareView" title="Share Current View">
    <div class="accordion">
      <h3>Share link</h3>
      <div class="share-link">
        <textarea class="shareurl"></textarea>
      </div>
      <h3>Share thumbnail or animated image</h3>
      <div class="share-thumbnail">
        <table class="share-thumbnail-tool">
          <tr>
            <td>Image type:</td>
            <td><div class="get-current-thumbnail customDialogButton customHighlightDialogButton">Get thumbnail</div><div class="get-current-gif customDialogButton customHighlightDialogButton">Get animated gif</div></td>
          </tr>
          <tr>
            <td>Set box size:</td>
            <td><div class="reset-large customDialogButton">Large</div><div class="reset-medium customDialogButton">Medium</div><div class="reset-small customDialogButton">Small</div></td>
          </tr>
          <tr>
            <td>Starting Time:</td>
            <td><input class="startingTimeSpinner" name="spinner" value=""></td>
          </tr>
          <tr>
            <td>Ending Time:</td>
            <td><input class="endingTimeSpinner" name="spinner" value=""></td>
          </tr>
          <tr>
            <td>Select speed:</td>
            <td>
            <select class="thumbnail-speed" name="speed">
              <option>0.25X</option>
              <option>0.5X</option>
              <option selected="selected">1X</option>
              <option>2X</option>
              <option>4X</option>
            </select></td>
          </tr>
        </table>
        <table class="thumbnail-preview-copy-text-container">
          <tr>
            <td><input type="text" class="thumbnail-preview-copy-text"></td>
            <td><div class="thumbnail-preview-copy-text-button customDialogButton">Copy</div></td>
          </tr>
          <tr>
            <td colspan="2"><div class="thumbnail-preview-container"><img class="thumbnail-preview" src=""></div></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>