<div class="toolbar">
  <div class="editorModeToolbar"></div>
  <button class="toggleMode" title="Toggle between tour and waypoint collection editor">Change Mode</button>
  <ul class="editorModeOptions"></ul>
</div>

<div class="snaplapse_keyframe_container">
  <div class="snaplapse_keyframe_list"></div>
</div>

<div class="createSubtitle_dialog" title="Edit Title and Subtitle">
  <table class="createSubtitle_dialog_table">
    <tr>
      <td>
        <div class="keyframe_title_container">Keyframe Title:&nbsp;
          <input type="text" value="" class="keyframe_title_input" maxlength="20">
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="createSubtitle_dialog_txt">
          Add a caption to this keyframe.
        </div>
      </td>
    </tr>
    <tr>
      <td><textarea class="subtitle_textarea"></textarea></td>
    </tr>
  </table>
</div>

<div class="loadTimewarpWindow" title="Load a Tour or Waypoint Collection">
  <span class="close-dialog" title="Close"></span>
  <table class="loadTimewarpWindowTable">
    <tr>
      <td><div id="loadSnaplapseButton" class="customDialogButton">Load</div></td>
      <td>
        <div class="loadTimewarpWindow_txt">
          Paste the tour or waypoint collection share link below and then click Load.
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2"><textarea class="loadTimewarpWindow_JSON"></textarea></td>
    </tr>
  </table>
</div>

<div class="saveTimewarpWindow" title="Share a Tour">
  <span class="close-dialog" title="Close"></span>
  <h2 class="saveTimewarpWindow_title_tour">Share a Tour</h2>
  <h2 class="saveTimewarpWindow_title_presentation">Share a Waypoint Collection</h2>
  <table class="saveTimewarpWindowTable">
    <tr>
      <td>Title:&nbsp;<input type="text" value="Untitled" class="saveTimewarpWindow_tourTitleInput" maxlength="30"></td>
    </tr>
    <tr>
      <td><h3 class="saveTimewarpWindow_title_share">Save and Share</h3></td>
    </tr>
    <tr>
      <td>
        <div class="saveTimewarpWindow_txt">
          Copy the link below and share it on the web. Keep this URL handy though, since this is what will be required to load and make future changes to your work.
        </div>
      </td>
    </tr>
    <tr>
      <td><textarea class="saveTimewarpWindow_JSON"></textarea></td>
    </tr>
    <tr>
      <td><h3 class="saveTimewarpWindow_title_embed">Embed</h3></td>
    </tr>
    <tr>
      <td>
        <div class="saveTimewarpWindow_txt2">
          You can also copy the iframe code below and embed this on your own website or blog.
        </div>
      </td>
    </tr>
    <tr>
      <td><textarea class="saveTimewarpWindow_JSON2"></textarea></td>
    </tr>
    <tr>
      <td>
        Embed Size:&nbsp;
        <select class="saveTimewarpWindow_JSON2_sizes">
          <option value="720,394">720 x 394</option>
          <option value="750,530">750 x 530</option>
          <option value="854,480" selected="selected">854 x 480</option>
          <option value="1024,576">1024 x 576</option>
          <option value="1152,648">1152 x 648</option>
        </select>
      </td>
    </tr>
  </table>
</div>

<span class="keyframeSubtitleBoxForHovering">
  <p></p>
</span>